.home-container {
  min-height: 100svh; /* mobile-safe viewport height */

  background:
    linear-gradient(rgba(0, 0, 0, 0.55),    /* semi transparent layer over the image: black overlay */
                    rgba(0, 0, 0, 0.55)),
    url("../assets/bg.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;        /* make the child element easily align */
  justify-content: center;  /* horizontal center  */
  align-items: center;      /* vertical center */

  overflow: hidden; /* no scroll */
}
